body{
    margin: 0px;
    padding: 0px;

}
.header{
    height: 65px;   
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    padding:0% 5%;
    align-items: center;
}
.headerText{
    margin-right: auto;
    font-family: Karla;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    /* letter-spacing: -0.1em; */
    text-align: left;
    color: #FFFFFF;
    margin-left: 1%;
}
.image{
    height: 26px;
    width: 31px;
}
.headerTitle{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
}
.meme{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px;
    padding: 0% 5%;
    margin-bottom: 17px; 
}
input{
    height: 40px;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 5px;
    
}
.button{
    grid-column: 1 / -1;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    font-family: Karla;
    color: #FFFFFF;
    text-align: center;
}
.memeimg{
    padding: 0% 5%;
    width: 90%;
    margin-top: 17px;
}
.memepicture{
    position: relative;
    text-align: center;
}
.memeText{
    text-align: center;
    margin: 15px 0; 
     padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000; 
}
.top{
    position: absolute;
    top: 10%;
    white-space: initial;
    padding: 0% 30%;

}
.bottom{
    position: absolute;
    bottom: 10%;
    white-space: initial;
    padding: 0% 30%;
}
